*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

head{
color: skyblue;
background-size: cover;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(9, 33, 46);
    text-align: center;
    border-radius: 20px;
    font-size: 50px;
    background-color: rgba(135, 207, 235, 0.651);
}

.container{
    width: 200px;
    height: 85vh;
    background-color: rgb(6, 31, 41);
    border-color: rgb(20, 1, 1);
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-left: 180px;
    size: 300px;
}

